@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;600;700&display=swap');

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: inherit;
}

.container{
    overflow: hidden;
    width: 100%;
    height: 100vh;
    background-image: 
        linear-gradient(rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)), 
        url(./image/background/modern-urban-interior-design-scaled.jpeg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    text-align: center;
    font-size: 25px;
    letter-spacing: 3px;
    transform: translateY(-12%);
    padding: 30px;
    max-height: 90vh !important;
}

.description h2 {
    color: rgb(202, 202, 202);
}

.about-container{
    background: #29343b;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
    color: whitesmoke;
}

.about-container header {
    font-size: 40px;
    letter-spacing: 2px;
}

.about-container h3 {
    font-size: 25px;
}

.about-container p {
    letter-spacing: 2px;
}

nav{
    background: #30343F;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 25px;
    padding-right: 5px;
    position: sticky;
    top: 0;
    z-index: 15;
    box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.5);
}

nav ul{
    list-style: none;
    display: flex;
    gap: 15px;
    color: whitesmoke;
    letter-spacing: 1px;
    font-size: 18px;
}

nav ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: all 0.3s;
    -top: 2px;
}

nav ul li:hover::after{
    width: 100%;
}

.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 3px;
    flex-grow: 1;
}

.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    transform: scale(0.7);
}
  
.line {
    fill: none;
    stroke: white;
    outline: none;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
      z-index: 999;
}
  
.line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
  
.line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
}
  
.line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
}
  
.opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
}
  
.opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
}
  
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}

.hamburger-menu{
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transform: translateX(100%);
    transition: all 0.3s;
}

.hamburger-menu.active {
    transform: translateX(0);
}

.hamburger-menu ul{
    list-style: none;
    letter-spacing: 2px;
    font-size: 40px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: 'Roboto Flex', sans-serif;
    cursor: default;
    transition: color 0.5s ease;
}

.hamburger-menu ul li:hover{
    color: #f44336;
}

.classic-container, .soft-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    gap: 100px;
    width: 100%;
}

.products {
    display: flex;
    justify-content: center;
    gap: 10%;
    width: 100%;
}

.photo{
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
    transition: all 0.3s;
    width: 50%;
    min-width: 150px;
    max-width: 500px;
}

.section-tag{
    font-size: 50px;
    letter-spacing: 3px;
}

.slider{
    max-height: 240px;
    width: 70%;
    min-width: 270px;
    max-width: 790px;
    display: flex;
    overflow: auto;
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    background: #dedede;
}

.slider img {
    width: 100%;
    transform: translateY(-5%);
}

/* SCROLL */

.slider::-webkit-scrollbar{
    border-radius: 5px;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #f44336;
}

::-webkit-scrollbar {
    background: #2C2C2C;
}

.form-container {
    display: flex;
    justify-content: center;
    padding: 80px;
    gap: 80px;
    background: #29343b;
}

.vertical-line {
    width: 3px;
    height: 350px;
    background: #f44336;
    border-radius: 4px;
}

.quote-text {
    font-size: 40px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
}

.quote-firm{
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    color: white;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 40%;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

  
.inf {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
  
.email, .call {
    display: flex;
    align-items: center;
    gap: 20px;
    color: whitesmoke;
    letter-spacing: 2px;
}
  
.fa-solid {
    font-size: 30px;
}
  
.email i, .call i {
    color: #f44336;
}
  
.email, .call {
    font-size: 32px;
}
  

.form-container h2 {
    color: white;
    letter-spacing: 1px;
    font-size: 35px;
}
  
  .form-container h2 {
    margin-top: 0;
  }
  
  .form-container #contactform {
    padding: 0;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    transition: border-color 0.3s ease;
  }
  
  .form-container input[type="text"]:focus,
  .form-container input[type="email"]:focus,
  .form-container textarea:focus {
    outline: none;
    border-color: #4CAF50;
  }
  
  /* Stylowanie przycisku submit */
  .form-container input[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #4CAF50;
    color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .form-container input[type="submit"]:hover {
    background-color: #45a049;
  }
  
  .form-container input[type="submit"]:focus {
    outline: none;
  }
  
  .form-container input[name="_formsubmit_id"] {
    display: none;
  }
  
  .form-container textarea[name="comment"] {
    resize: none;
    max-height: 120px;
  }
  

.photos-container#classic {
    display: flex;
    justify-content: center;
    gap: 90px;
    width: 100%;
}

.photos-container img {
    width: 50%;
    height: 50%;
    max-width: 250px;
    max-height: 250px;
    object-fit: cover;
    background-color: whitesmoke;
}


.photos-container img {
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: all 0.3s;
    max-width: 235px;
    min-width: 150px;
    flex-basis: 50%;
} 

.photo:hover, .photos-container img:hover{
    transform: translateY(-10px);
}

.form-text {
    text-align: center;
    transform: translateY(10%);
    font-size: 22px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: translateY(0%);
}

@media only screen and (min-width: 1300px) {
    .menu {
      display: none;
    }
}

@media only screen and (max-width: 940px) {
    .form-container {
        flex-direction: column;
    }
    .vertical-line {
        height: 3px;
        width: 100%;
    }
    .left {
        width: 100%;
    }
}

@media only screen and (max-width: 1200px) {
    .section-tag{
        font-size: 40px;
    }
    .email, .call {
        font-size: 25px;
    }
    .form-container {
        gap: 60px;
    }
}

@media only screen and (max-width: 580px) {
    .photos-container#classic {
        gap: 15px;
    }
}

@media only screen and (max-width: 720px) {
    .section-tag{
        font-size: 30px;
    }
    .classic-container, .soft-container {
        padding: 35px 35px 60px 35px;
        gap: 35px;
    }
    .photos-container, .form-container {
        gap: 15px;
    }
    .photos-container#classic {
        gap: 40px;
    }
}


@media only screen and (max-width: 1300px) {
    nav {
        padding: 0;
        padding-left: 20px;
    }
    nav ul{
        display: none;
    }
}

.section-separator {
    border: none;
    border-top: 5px solid #f44336;
    margin: 20px 0;
}